<div class="row">
  <div class="col-md-5">
    <h2>Transmitters</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let transmitter of transmitters"
        (click)="selectTransmitter(transmitter)"
        [class.active]="transmitter === selectedTransmitter">
        {{transmitter.id}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="addNewTransmitter()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <transmitter-details
      [transmitter]="selectedTransmitter"
      [createHandler]="addTransmitter"
      [updateHandler]="updateTransmitter"
      [deleteHandler]="deleteTransmitter">
    </transmitter-details>
  </div>
</div>
